# Data folder
data/

# MLflow tracking
mlruns/

# Virtual environment
.venv/

# Python cache files
.pytest_cache/
__pycache__/
*.pyc

# Additional ignores
.env
.coverage
.python-version

# Private files
private/
.DS_Store
